<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abidria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.common.AbidriaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.experience.show.ExperienceMapActivity"
            android:label="@string/title_activity_experience_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.scene.show.SceneDetailActivity"
            android:label="@string/title_activity_scene_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.scene.edition.CreateSceneActivity"
            android:label="@string/title_activity_create_scene"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.abidria.presentation.common.edition.EditTitleAndDescriptionActivity"
            android:label="@string/title_activity_edit_title_and_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.abidria.presentation.common.edition.SelectLocationActivity"
            android:label="@string/title_activity_select_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.scene.edition.EditSceneActivity"
            android:label="@string/title_activity_edit_scene"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.experience.edition.CreateExperienceActivity"
            android:label="@string/title_activity_create_experience"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.experience.edition.EditExperienceActivity"
            android:label="@string/title_activity_edit_experience"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>